<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>關於我們 | NCKU HUB</title>

  <!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="192x192" href="images/NCKU HUB_ICON.png">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title">
<link rel="apple-touch-icon-precomposed" href="images/NCKU HUB_ICON.png">

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage" content="images/NCKU HUB_ICON.png">
<meta name="msapplication-TileColor" content="#3372DF">

<link rel="shortcut icon" href="images/NCKU HUB_ICON.png">


  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/nouislider.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/jquery.upvote.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body class="grey lighten-3" style="font-family:Microsoft JhengHei">

  <div class="navbar-fixed">
    <nav class="blue" role="navigation">
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons white-text">menu</i></a>
        <a id="logo-container" href="#" style="font-size:17px; font-weight: lighter;letter-spacing: 2px;"><strong>關於我們</strong></a>
    </nav>
  </div>

  <ul id="slide-out" class="sidenav">
    <li>
      <div class="user-view row">
        <div class="background  blue"></div>
        <div class="col s12" id="user-info" style="margin-left:6px;margin-top:8px;">
            <img class="right" src="images/NCKU HUB_ICON.png" style="width:15%;height:15%;" border="0"></img>
            <img class="circle" src="images/profile.jpg" style="width:40%;height:40%; " border="0"></img>
            <span class="white-text" style="font-weight: lighter;"><h5 style="font-size:1.5rem">許庭禎</h5></span>
            <span class="white-text" style="font-weight: lighter;"><p style="line-height:1rem">工業與資訊管理學系</p></span>
            <span class="white-text" style="font-weight: lighter;"><p style="line-height:1rem">三年級</p></span>
        </div>
      </div>
    </li>

    <li><a href="provCourse.html">提供心得</a></li>
    <li><a href="person.html">個人頁面</a></li>
    <li><a href="aboutUs.html">關於我們</a></li>
    <li><a href="#!">回報問題</a></li>
    <li><a href="#!">登出系統</a></li>
    <li style="position:absolute;bottom:10%;"><a href="#!">發案子給我們!</a></li>

  </ul>

  <div id="index-banner" class="parallax-container">
    <div class="row white-text" style="background-color:#1A6CBD;padding-bottom:50px">
      <div class="col s8 push-s1" style="padding-top:20px">
        <h5 style="font-weight: 550;font-size:1.5rem">資訊技術改善校園</h5>
        <div class="col s1 divider" style="height: 5px;background-color:white;"></div>
      </div>
      <div class="col s3" style="padding-top:30px">
        <img class="right" src="images/NCKU HUB_ICON.png" style="width:70%;height:70%;" border="0"></img>
      </div>
      <div class="col s11 push-s1">
        <p>
          NCKU HUB是由成大生自主發起，</br>以解決校園問題為目標的資訊平台。
        </p>
      </div>
    </div>
    <div class="row white-text" style="padding: 0 0.7rem;">
      <div class="col s12" style="margin-top:-60px" >
        <div class="card sticky-action" style="background-color:#18ABD6">
          <div class="card-content white-text card-action">
              <h5 style="font-weight: 550;font-size:1.5rem">作品一覽</h5>
              <div class="col s1 divider" style="height: 5px;background-color:white;"></div>
              <p style="padding-top:20px">
                NCKU HUB是由成大生自主發起，</br>以解決校園問題為目標的資訊平台。
              </p>
          </div>

            <ul class="collection grey-text white">
              <li class="collection-item avatar">
                <i class="material-icons circle" style="background-color:#1A6CBD;line-height: 42px;">assignment</i>
                <span class="title black-text" style="font-size:14px;font-weight: 550;">課程心得查詢</span>
                <p class="grey-text">幫助<nobr class="blue-text">5273</nobr>人選擇要上的課</p>
                <span class="secondary-content activator" style="margin-top:-5px;color:#1A6CBD;font-weight: 1000;">SEE</span>
              </li>
              <li class="collection-item avatar">
                <i class="material-icons circle" style="background-color:#1A6CBD;line-height: 42px;">remove_red_eye</i>
                <span class="title black-text" style="font-size:14px;font-weight: 550;">課程心得查詢</span>
                <p class="grey-text">幫助<nobr class="blue-text">388</nobr>人選到想上的課</p>
                <span class="secondary-content activator" style="margin-top:-5px;color:#1A6CBD;font-weight: 1000;">SEE</span>
              </li>
              <li class="collection-item avatar">
                <i class="material-icons circle" style="background-color:#1A6CBD;line-height: 42px;">near_me</i>
                <span class="title black-text" style="font-size:14px;font-weight: 550;">課程心得查詢</span>
                <p class="grey-text">幫助<nobr class="blue-text">485</nobr>人快速找到教室</p>
                <span class="secondary-content activator" style="margin-top:-5px;color:#1A6CBD;font-weight: 1000;">SEE</span>
              </li>
              <li class="collection-item center">
                <span class="title grey-text lighten-3" style="font-size:14px;font-weight: 550;">新功能陸續開發中...</span>
              </li>
            </ul>

            <div class="card-reveal aboutUs__works--active">
              <i class="card-title material-icons right grey lighten-3 circle">close</i>
              <h6 style="font-weight: 700;color:#1A6CBD">課程心得查詢</h6>
              <div class="dividerV__li" style="font-weight: 700;color:#1A6CBD;margin-top:-25px">
              </div>
              <p class="black-text lighten-3" style="line-height: 1.2rem;margin-top:15px;margin-left:10px;line-height: 1.3rem;">
                如果每個人都能夠找到適合的課程，<br>學習的品質就能被提升。<br>而這一步，從解決資訊落差開始。
              </p>
              <div class="dividerV__li" style="font-weight: 700;color:#1A6CBD;margin-top:-1px;top: 50%;bottom: 70%;">
              </div>

            </div>

        </div>

        <div class="card sticky-action aboutUs__member" style="background-color:#1A6CBD">
          <div class="white-text card-action">
              <h5 style="font-weight: 550;font-size:1.5rem">成員一覽</h5>
              <a href="" class="waves-effect waves-yellow btn right finish_grading btn-small" style="background-color:#4789CA;color:white; height: 22px;line-height: 23px;font-size: 10px;margin-top:-30px">Join us</a>
              <div class="col s1 divider" style="height: 5px;background-color:white;"></div>
              <p style="padding-top:20px">
                一同打造服務的團隊夥伴，</br>每個人都是不可或缺的一份子。
              </p>
          </div>

          <div class="carousel center aboutUs__member__picture" style="">
            <div class="carousel-item " href="#one!">
              <img class="circle responsive-img" style="width:60%;"src="images\profile.jpg">
              <p>
                Founder</br>黑暗奇異果
              </p>
              <p class="grey-text lighten-3" style="line-height: 1.2rem;">
                2016.07 - 現在
              </p>
              <a><p class="activator" style="line-height: 1.2rem;" @click="identifyID1">
                SEE
              </p></a>
            </div>
            <div class="carousel-item" href="#two!">
              <img class="circle responsive-img" style="width:60%;"src="images\profile.jpg">
              <p>
                Fronter-End Developer</br>PiPiMi
              </p>
              <p class="grey-text lighten-3" style="line-height: 1.2rem;">
                2018.01 - 現在
              </p>
              <a><p class="activator" style="line-height: 1.2rem;" @click="identifyID2">
                SEE
              </p></a>
            </div>
            <div class="carousel-item" href="#three!">
              <img class="circle responsive-img" style="width:60%;"src="images\profile.jpg">
              <p>
                Back-End Developer</br>ALLE
              </p>
              <p class="grey-text lighten-3" style="line-height: 1.2rem;">
                2018.01 - 現在
              </p>
              <a><p class="activator" style="line-height: 1.2rem;" @click="identifyID3">
                SEE
              </p></a>
            </div>
          </div>
          <div class="card-reveal aboutUs__member__info">
            <i class="card-title material-icons right grey lighten-3 circle">close</i>
            <div class="aboutUs__member__ID1" v-if="id == 1">
              <h6 style="font-weight: 700;color:#1A6CBD">廖嘉豪</h6>
              <p class="grey-text lighten-3" style="line-height: 1.2rem;">
                2016.07 - 現在
              </p>
              <div class="dividerV__li" style="font-weight: 700;color:#1A6CBD">
                <p class="black-text lighten-3" style="line-height: 1.2rem;">
                  Founder<br>Back-End Developer<br>Project Manager
                </p>
              </div>
            </div>
            <div class="aboutUs__member__ID2" v-else-if="id == 2">
              <h6 style="font-weight: 700;color:#1A6CBD">許庭禎</h6>
              <p class="grey-text lighten-3" style="line-height: 1.2rem;">
                2018.01 - 現在
              </p>
              <div class="dividerV__li" style="font-weight: 700;color:#1A6CBD">
                <p class="black-text lighten-3" style="line-height: 1.2rem;">
                  Front-End Developer
                </p>
              </div>
            </div>
            <div class="aboutUs__member__ID3" v-else>
              <h6 style="font-weight: 700;color:#1A6CBD">貓貓</h6>
              <p class="grey-text lighten-3" style="line-height: 1.2rem;">
                2018.05 - 現在
              </p>
              <div class="dividerV__li" style="font-weight: 700;color:#1A6CBD">
                <p class="black-text lighten-3" style="line-height: 1.2rem;">
                  Cat<
                </p>
              </div>
            </div>
          </div>
      </div>

      <div class="card aboutUs__support" style="background-color:#F35A5A">
        <div class="card-content white-text">
            <h5 style="font-weight: 550;font-size:1.5rem">支持我們</h5>
            <a href="" class="waves-effect waves-yellow btn right finish_grading btn-small" style="background-color:#F57B7B;color:white; height: 22px;line-height: 23px;font-size: 10px;margin-top:-30px">Thank List</a>
            <div class="col s1 divider" style="height: 5px;background-color:white;"></div>
            <div class="aboutUs__support--origin" v-if="hasClick == false">
              <p style="padding-top:20px;padding-bottom:20px;">
              請我們喝一杯咖啡，打造更好的服務!
              </p>
              <div class="center">
                <a class="waves-effect waves-red btn" style="background-color:white;color:#F35A5A;text-align:center" @click="click">了解更多</a>
              </div>
            </div>
            <div class="aboutUs__support--active" v-else-if="hasClick==true">
              <p style="padding-top:20px;padding-bottom:20px;">
              NCKU HUB一直致力於打造更好用的服務，<br>同時也面臨著現實面的問題。<br><br>
              諸如伺服器租借、網域購買等皆須一定成本。<br>
              若沒有資金支持，這些我們努力打造，<br>
              你們愛用的服務，都無法繼續存活下去。<br><br>
              請捐助我們一杯咖啡的錢，<br>
              催生更好的服務!<br><br>
              成為支持者的好處:<br>
              [V]無限量使用餘額通知小幫手<br>
              [V]優先取得所有新服務試用<br>
              [V]來自NCKU HUB的感謝游建，並出現<br>
              在左側的特別感謝名單中。
              </p>
              <div class="center">
                <a class="waves-effect waves-red btn" style="background-color:white;color:#F35A5A;text-align:center" @click="click">贊助咖啡</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="js/courseInfo.js"></script>
  <script src="js/nouislider.js"></script>
  <script src="js/nouislider.min.js"></script>
  <script src="js/jquery.upvote.js"></script>
  <script src="js/wNumb.js"></script>
  <script>
  var member = new Vue({
      el: ".aboutUs__member", //哪個區塊給vue管
      data:{       //這個vue區塊有的資料
          "id":0
      },
      methods:{       //這個區塊裡面可以使用的method(函數、功能)
          identifyID1: function(){
              member.id=1;
          },
          identifyID2: function(){
              member.id=2;
          },
          identifyID3: function(){
              member.id=3;
          }
      }
  });
  var support = new Vue({
      el: ".aboutUs__support", //哪個區塊給vue管
      data:{       //這個vue區塊有的資料
          "hasClick":false
      },
      methods:{       //這個區塊裡面可以使用的method(函數、功能)
          click: function(){
            support.hasClick = (support.hasClick==true) ? (support.hasClick=false) : (support.hasClick=true);
          }
      }
  });
  </script>

  </body>
</html>
